@using WebApplication1.Model;
@using WebApplication1.Model.Deserialization;
@{
    ViewData["Title"] = "GoogleNews in USA";
 }
<h2>@ViewData["Title"]</h2>
<table class="cinereousTable">
    <tr>
        <th><p align="center">Published at</p></th>
        <th><p align="center">Source name</p></th>
        <th><p align="center">Title</p></th>
        <th><p align="center">Description</p></th>
        <th><p align="center">Num</p></th>
    </tr>
    @{

        string keyWord = "the";
        WordFinder wordFinder = new WordFinder();
        GoogleNews googleNews = (GoogleNews)ViewData["GoogleNews"];
        if (googleNews.articles == null)
        {
            <tr><td><strong style="font-size: 50px;"> Check internet connection!</strong></td></tr>
        }
        else
        {
            foreach (Article article in googleNews.articles)
            {
                int count = wordFinder.Find(keyWord, article.description);
                SumAccumulation.Sum += count;
            <tr>
                <td style="padding:4px"><p>@article.publishedAt</p></td>
                <td style="padding:4px"><p>@article.source.name</p></td>
                <td style="padding:4px"><p>@article.title</p></td>
                <td style="padding:4px"><p>@article.description</p></td>
                <td style="padding:4px"><p>@count</p></td>
               
            </tr>

                }
            }
        }
</table>
<h3>Total number of word "@keyWord": @SumAccumulation.Sum</h3>
        