@using WebApplication1.Model;
@using WebApplication1.Model.Deserialization;
@{
    ViewData["Title"] = "GoogleNewsRu";
 }
<h2>@ViewData["Title"]</h2>
<table class="greenTable">
    <tr>
        <th><p align="center">Published at</p></th>
        <th><p align="center">Source</p></th>
        <th><p align="center">Title</p></th>
        <th><p align="center">Description</p></th>
        <th><p align="center">Num</p></th>
    </tr>
    @{
        string keyWord = "США";
        WordFinder wordFinder = new WordFinder();
        GoogleNews googleNews = (GoogleNews)ViewData["GoogleNewsRu"];
        if (googleNews.articles == null)
        {
            <tr><td><strong style="font-size: 50px;"> Check internet connection!</strong></td></tr>
        }
        else
        {
            foreach (Article article in googleNews.articles)
            {
                if (SumAccumulation.CasheDictionary.ContainsKey(article.url))
                {
                    SumAccumulation.CasheDictionary[article.url].Exists = true;
                }
                else
                {
                    int count = wordFinder.Find(keyWord, article.description);
                    SumAccumulation.Sum += count;
                    CountExists countExists = new CountExists(count, true);
                    SumAccumulation.CasheDictionary.Add(article.url, countExists);
                }
                <tr>
                    <td style="padding:4px"><p>@article.publishedAt</p></td>
                    <td style="padding:4px"><p>@article.source.name</p></td>
                    <td style="padding:4px"><p>@article.title</p></td>
                    <td style="padding:4px"><p>@article.description</p></td>
                    <td style="padding:4px"><p>@SumAccumulation.CasheDictionary[article.url].Count</p></td>

                </tr>
            }

            foreach (var item in SumAccumulation.CasheDictionary.Where(a => !a.Value.Exists).ToList())
            {
                SumAccumulation.CasheDictionary.Remove(item.Key);
            }

            foreach (string key in SumAccumulation.CasheDictionary.Keys)
            {
                SumAccumulation.CasheDictionary[key].Exists = false;
            }
        }
    }
</table>
<h3>Total number of word "@keyWord": @SumAccumulation.Sum</h3>