@using WebApplication1.Model;
@{
    ViewData["Title"] = "GoogleNews in USA";
}
<h2>@ViewData["Title"]</h2>
<table class="cinereousTable">
    <tr>
        <th><p align="center">Published at</p></th>
        <th><p align="center">Source name</p></th>
        <th><p align="center">Title</p></th>
        <th><p align="center">Description</p></th>
        <th><p align="center">Num</p></th>
    </tr>
    @{
        Dictionary<string, CountExists> cacheDictionary = (Dictionary<string, CountExists>)ViewData["GoogleNewsCache"];
        string keyword = (string)ViewData["Keyword"];
        int sum = (int)ViewData["Sum"];
        foreach (string key in cacheDictionary.Keys)
        {
            var article = cacheDictionary[key].Article;
            <tr>
                <td style="padding:4px"><p>@article.publishedAt</p></td>
                <td style="padding:4px"><p>@article.source.name</p></td>
                <td style="padding:4px"><p>@article.title</p></td>
                <td style="padding:4px"><p>@article.description</p></td>
                <td style="padding:4px"><p>@cacheDictionary[article.url].Count</p></td>
            </tr>
        }
    }
</table>
<h3>Total number of word "@keyword": @sum</h3>
